include bin/sabacc.desktop
include MANIFEST.in
include AUTHORS
include COPYING
include INSTALL
include NEWS
include README
include settings.xml
include man/sabacc.6
include glade/sabacc.glade
include cardsets/swag/*.png
include agents/Example.xml
include pixmaps/sabacc.*
include sabacc/front/guiInterface/gtkmvc/GTKMVC_README
